.md-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #111;
  height: 60px;

  @media screen and (min-width: 680px) {
    height: 84px;
  }
}

.md-logo {
  margin: 0 auto;
  height: 21px;
  width: 117px;
  pointer-events: none;

  @media screen and (min-width: 680px) {
    height: 32px;
    width: 196px;
  }
}

.md-header__inner {
  width: 100%;
}

.md-nav--primary .md-nav__title[for="__drawer"] {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #111;
  font-weight: 700;
  height: 60px;
  padding: 0;
  color: #111;
}

@media screen and (min-width: 768px) {
  .md-nav--primary .md-nav__title[for="__drawer"] {
    background-color: transparent;
    height: 84px;
    display: none;
  }
}

.md-nav--primary .md-nav__title[for="__drawer"] a {
  color: transparent;
}

.md-nav__source {
  display: none !important;
}

.md-header__topic .md-ellipsis {
  display: none;
}

.md-nav__item .md-ellipsis {
  font-size: 18px;
}

.md-ellipsis:hover {
  color: #d7b72f;
  transition: all 0.2s ease-in-out;
}

.md-nav__item .md-nav__link--active,
.md-nav__item .md-nav__link--active code,
.md-nav--primary .md-nav__item--active > .md-nav__link {
  color: #d7b72f;
  font-weight: bold;
}

.md-tabs {
  display: none !important;
}

.json-block {
  background-color: #f7f7f7;
  border-left: 4px solid #fd8b21;
  padding: 1rem;
  overflow-x: auto;
  border-radius: 4px;
  font-family: Menlo, Monaco, "Courier New", monospace;
  font-size: 15px;
}
.json-block pre {
  margin: 0;
}

.footer {
  height: 72px;
  background-color: #111;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;

  @media screen and (min-width: 600px) {
    font-size: 16px;
  }
}
